<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12">
        <h3>About</h3>
        <p>The AMV System Demo is a work-in-progress proof-of-concept prototype application.</p>

        <h4>Primary Goals</h4>
        <ul class="browser-default">
          <li>Create a system that displays mobility data as it flows through in real-time</li>
          <li>Give insights for people keeping track of a fleet of moving objects</li>
          <li>Finding possible improvements and help in understanding the usage and impacts of mobility services within
            a certain domain
          </li>
          <li>Provide a small preview of the data available on the AMV Platform</li>
        </ul>

        <h4>Prototype Stage</h4>
        <p>
          This application is currently in a prototype stage.
          Be prepared to see some rough edges or under-construction features.
          During the ongoing development you may experience technical misbehaviour or small bugs here and there.
          You may also feel like some key features are missing - because they are.
          Feel free to suggest a feature you want to see in the near future - just open a
          <a href="https://github.com/amv-networks/amv-system-demo-app/issues">feature request on GitHub</a>.
        </p>

        <h4>License</h4>
        The project is licensed under the <a
        href="https://raw.githubusercontent.com/amvnetworks/amv-trafficsoft-rest/master/LICENSE">Apache License, Version
        2.0</a>.

        <h5>Redistribution</h5>
        <p> You may reproduce and distribute copies of the
          Work or Derivative Works thereof in any medium, with or without
          modifications, and in Source or Object form, provided that You
          meet the conditions of the license.</p>
        <p>
          You may add Your own copyright statement to Your modifications and
          may provide additional or different license terms and conditions
          for use, reproduction, or distribution of Your modifications, or
          for any such Derivative Works as a whole, provided Your use,
          reproduction, and distribution of the Work otherwise complies with
          the conditions stated in this License.</p>

        <h5>Trademarks</h5>
        <p>This License does not grant permission to use the trade
          names, trademarks, service marks, or product names of the Licensor,
          except as required for reasonable and customary use in describing the
          origin of the Work and reproducing the content of the NOTICE file.</p>

        <h5>Disclaimer of Warranty</h5>
        <p> Unless required by applicable law or
          agreed to in writing, Licensor provides the Work (and each
          Contributor provides its Contributions) on an "AS IS" BASIS,
          WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
          implied, including, without limitation, any warranties or conditions
          of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A
          PARTICULAR PURPOSE. You are solely responsible for determining the
          appropriateness of using or redistributing the Work and assume any
          risks associated with Your exercise of permissions under this License.</p>
      </div>
    </div>
  </div>
