<div class="progress amber" style="margin: 0;" data-ng-show="main.loading">
  <div class="indeterminate amber lighten-4"></div>
</div>

<div class="row" style="margin-bottom: 0;">
  <div class="col s6 m4 l3" style="padding: 0;">
    <div style="height: 600px; overflow-y: scroll; overflow-x: hidden;">
      <form class="">
        <div class="input-field col s12">
          <input placeholder="" id="filterInput" type="text"
                 data-ng-model="filterInput">
          <label for="filterInput">Filter</label>
        </div>
      </form>
      <div class="collection">
        <div class="collection-item"
             data-ng-repeat="vehicle in main.vehicles | filter:filterInput">


          <span class="badge">{{$index + 1}}</span>

          <header>
            <h5>{{ vehicle.name }}</h5>
          </header>

          <div class="left">
            <ul style="margin: 0">
              <li>
                <i class="material-icons tiny">room</i>
                <small data-ng-show="vehicle.location.lat && vehicle.location.lng">
                  lat/lng: {{ vehicle.location.lat }} / {{ vehicle.location.lng }}
                </small>
                <small data-ng-hide="vehicle.location.lat && vehicle.location.lng">
                  lat/lng: No location data available.
                </small>
              </li>
              <li>
                <i class="material-icons tiny">av_timer</i>
                <small>
                  speed: {{ vehicle.data.speed || 0 }} km/h
                </small>
              </li>
            </ul>
          </div>

          <div class="right">
            <a class="btn-floating waves-effect waves-light amber"
               data-ng-click="zoomToLocation(vehicle, 17)"
               data-materialize-tooltipped data-delay="50" data-tooltip="zoom to location">
              <i class="material-icons">my_location</i>
            </a>
            <a class="btn-floating waves-effect waves-light amber"
               data-ui-sref="vehicle({id: vehicle.id})"
               data-materialize-tooltipped data-delay="50" data-tooltip="view additional information">
              <i class="material-icons">perm_device_information</i>
            </a>

          </div>
          <div style="float:none; clear:both;"></div>

          <div data-ng-if="main.settings.debug">
            {{ vehicle.data | json }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col s6 m8 l9" style="padding: 0;">
    <leaflet id="mymap"
             defaults="main.map.defaults"
             center="main.map.center"
             markers="main.map.markers"
             tiles="main.map.tiles"
             height="600px">
    </leaflet>
  </div>
</div>
