<div class="progress amber" style="margin: 0;" data-ng-show="stateParams.loading">
  <div class="indeterminate amber lighten-4"></div>
</div>

<div class="row" style="margin-bottom: 0;">
  <div class="container">

    <div data-ng-if="stateParams.error">
      <h2>There has been an error :(</h2>
      <p>{{ stateParams.error.message }}</p>
      <p data-ng-if="stateParams.error.exception">{{ stateParams.error.exception }}</p>
      <pre>{{ stateParams.error | json}}</pre>
    </div>

    <h1>State Parameter</h1>

    <form class="">
      <div class="input-field col s12">
        <input placeholder="" id="filterInput" type="text"
               data-ng-model="filterInput">
        <label for="filterInput">Filter</label>
      </div>
    </form>
    <table>
      <thead>
      <tr>
        <th>code</th>
        <th>name</th>
        <th>description</th>
      </tr>
      </thead>

      <tbody>
      <tr data-ng-repeat="stateParam in stateParams.stateParams | filter:filterInput">
        <td>
          <pre>{{ stateParam.code }}</pre>
        </td>
        <td>{{ stateParam.name }}</td>
        <td>{{ stateParam.description }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
